<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144422170482-pm8q7lb9ot3irdue9k6ku4mmgbjv9frv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144422170482-pm8q7lb9ot3irdue9k6ku4mmgbjv9frv</string>
	<key>API_KEY</key>
	<string>AIzaSyCXlZdjfzFJOxjK22mPRcBx_qLNw_2Foug</string>
	<key>GCM_SENDER_ID</key>
	<string>144422170482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Verification.Verification2</string>
	<key>PROJECT_ID</key>
	<string>verification-58690</string>
	<key>STORAGE_BUCKET</key>
	<string>verification-58690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144422170482:ios:72ebe876fdde5e049377eb</string>
</dict>
</plist>